.heatmapgrid {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 4px;
  align-content: flex-start;
}

.node {
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  border: 1px solid #45506022;
}
