.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 12px;

  padding: 0 4px;
  background-color: #45506055;
  border-radius: 0.2em;
  color: #53a6fa99;
}

.indicator.active {
  background-color: #20b48f;
  color: #fffffa;
}

.indicator-single {
  font-size: 16px;
  color: #53a6fa99;
  ;
}

.indicator-main {
  font-size: 18px;
  padding-top: 4px;
}

.indicator-secondary {
  font-size: 12px;
  color: #fffffabb;
}


.indicatorlist {
  display: inline-grid;
  grid-gap: 4px;
  padding: 2px;
}

.card-playback > .indicatorlist {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-inputs > .indicatorlist {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-gpo > .indicatorlist,
.card-gpi > .indicatorlist {
  grid-auto-flow: row;
}