.selectors {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: center;

  font-size: 14px;

  padding: 2px 0px;
  border-radius: 0.2em;
  color: #53a6fa99;
}

.selector.active {
  background-color: #007ae1aa;
  color: #fffffa;
}

.selector {
  margin-left: 4px;
  border-radius: 2px;
  border: #007ae155 1px solid;
  padding: 6px 16px;
  background-color: #45506055;
  display: inline-grid;
  grid-gap: 4px;
}

.card-messages {
  overflow-y: auto;
}
