body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 8em 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-areas: 'navbar main';
}

.darkGradient {
}

.navbar {
  grid-area: navbar;
  height: 100vh;
  padding-top: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

.navitem {
  margin-top: 2em;
  margin-bottom: 2em;
}

.navitem-selected {
  color: #fffffa;
  background-color: #222;
}

.main {
  grid-area: main;
  padding-right: 1em;
  padding-top: 1em;
  height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas:
    'general network'
    'inputs playback'
    'messages heatmap';
}

.card {
  border: black 1px solid;
  border-radius: 0.5em;
}

/* .card > * {
  padding: 0.5em;
} */

.cardTitle {
  font-size: 1.5em;
}

.indicatorlist {
  display: inline-grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border: black 1px solid;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li:nth-child(odd) {
  background: #fafafa;
}
li:nth-child(even) {
  background: #fcfcfc;
}