@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('./common/fonts/Roboto-regular.woff') format('woff');
}

body {
  height: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  font-family: 'Roboto', sans-serif;

  font-size: 14px;
  color: #53a6fa;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

li,
p {
  color: #53a6fa;
}

.card > p {
  padding: 4px;
}

.App {
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-areas: 'navbar main';
  transition: filter 0.2s;
}

.App.sleeping {
  filter: grayscale(66%);
}

.darkGradient {
  background-color: #181d23;
}

.main {
  grid-area: main;
  height: 100vh;
}